
*.pyc

*.so

env/
build/

# In vision
AI/Vision/Train/*
!AI/Vision/Train/train.md
!AI/Vision/Train/DNN/Videos/README.md
!AI/Vision/Train/DNN/check.py
!AI/Vision/Train/DNN/extratc.py
!AI/Vision/Train/DNN/generate_label.py
!AI/Vision/Train/DNN/generate_tfrecord.py
!AI/Vision/Train/DNN/mobilenet_v1_1.0_224.tar.gz
!AI/Vision/Train/DNN/README.md
!AI/Vision/Train/DNN/rename.py
!AI/Vision/Train/DNN/train.sh
!AI/Vision/Train/DNN/treinando_rede.sh
!AI/Vision/Train/DNN/xml_to_csv.py
!AI/Vision/Train/DNN/zipNetwork.sh

AI/Vision/Data/*

AI/Control/Data/*.ini
AI/Control/Data/*.bin

develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
*~

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.xml
*,cover
.hypothesis/
*.idea

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
